.LongCard_wrapper {
  padding: 50px 40px;
  border-bottom: 8px solid #222;
}

.LongCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  width: 100%;
  color: white;
}

.LongCard__row {
  flex-direction: row;
}
.LongCard__row-reverse {
  flex-direction: row-reverse;
}

.LongCard__text-container {
  width: 52%;
  height: 100%;
}
.LongCard__text-container.pl-5 {
  padding-left: 48px;
}
.LongCard__text-container.pr-5 {
  padding-right: 48px;
}

.LongCard__img-container {
  position: relative;
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.LongCard__title {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 8px;
}

.LongCard__subtitle {
  font-size: 26px;
  font-weight: normal;
}

.LongCard__image {
  width: 100%;
  height: auto;
  z-index: 1;
}

.LongCard__image.downloadAndWatch {
  margin-top: -30px;
}

.LongCard__animation-container.watchOnTv {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 55%;
  top: 48%;
  left: 49.6%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.LongCard__animation-container.watchOnDevice {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 63%;
  max-height: 47%;
  top: 34%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.LongCard__animation-video {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .LongCard {
    flex-direction: column;
  }

  .LongCard__text-container {
    width: 100%;
    text-align: center;
  }
  .LongCard__text-container.pl-5 {
    padding-left: 0px;
  }
  .LongCard__text-container.pr-5 {
    padding-right: 0px;
  }

  .LongCard__img-container {
    width: 100%;
    margin-top: 16px;
  }
}