.HomeLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.HomeLayout__header {
    background-color: black; /* TODO: improve this */
    color: white; /* TODO: improve this */
    position: relative;
}

.HomeLayout__main {
    flex-grow: 1;
}
