body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.MoviesLayout__nav {
    background-color: transparent;
    padding: 0px 5px;
}
.MoviesLayout__nav .nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.MoviesLayout__nav .nav-container .nav-left-container,
.MoviesLayout__nav .nav-container .nav-right-container {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.MoviesLayout__nav .nav-container .nav-left-container {
    align-items: left;
}
.MoviesLayout__nav .nav-container .nav-right-container {
    align-items: right;
}

.MoviesLayout__nav .nav-container .nav-item {
    padding: 0 10px;
    list-style-type: none;
    text-decoration: none;
}
.nav-link-container {
    display: flex;
    width: 100%;
}

.nav-link-item {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: block;
    transition: all 0.3s;
}

.nav-link-item:hover {
    color: #ffffffc3;
}
.nav-link-item-active,
.nav-link-item-active:hover {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: block;
    font-weight: bold;
}

.nav-link-item::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.logo-container {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.netflix-logo {
    height: 50px;
}

.netflix-logo:hover {
    height: 52px;
}

.notification-container {
    height: 50px;
    width: 30px;
    display: flex;
    align-items: center;
}
.notification {
    height: 20px;
}
.notification:hover {
    height: 22px;
    cursor: pointer;
}
