.CTAComponent {
    max-width: 750px;
    margin: auto;
}

.CTAComponent__p {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}

.CTAComponent__form {
    display: flex;
}

.CTAComponent__input-container {
    position: relative;
    display: flex;
    background-color: #fafafa;
    margin-right: 6px;
    flex-grow: 1;
    height: 70px;
    border-radius: 0.25em;
    border: solid 1px #8c8c8c;
}

.CTAComponent__input {
    position: relative;
    width: 100%;
    background-color: #fff0;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    z-index: 2;
}

.CTAComponent__input:focus {
    outline: none;
}

.CTAComponent__label {
    position: absolute;
    width: 100%;
    color: #8c8c8c;
    z-index: 1;
    transition: all .1s ease;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
}

.CTAComponent__input:focus~label,
.CTAComponent__input:valid~label {
    top: 6px;
    font-size: 13px;
    font-weight: 700;
    transform: translateY(0);
}

.CTAComponent__btn {
    display: flex;
    align-items: center;
    border-left: 1px solid #333;
    padding: 0 30px;
    border-radius: 0.25rem;
    min-height: 70px;

    user-select: none;
    text-align: center;
    color: #fafafa;
    font-size: 30px;
    line-height: 30px;
    background-color: #E50914;
    background-image: linear-gradient(to bottom, #E50914, #DB0510);
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    border: 0px;
    cursor: pointer;
}

.chevron-right-arrow {
    height: .75em;
    width: .35em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0 0 0 .5em;
    position: relative;
}

.chevron-right-arrow svg {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1px 0;
    height: 100%;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}