@import "$node_modules/bootstrap/dist/css/bootstrap.css";
@import "$node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
    --netflix-color-red: #E50914;
    --netflix-color-green: rgb(43, 184, 113);
    --netflix-color-orange: #e87c03;
}