@import "$node_modules/bootstrap/dist/css/bootstrap.css";
@import "$node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
    --netflix-color-red: #e50914;
    --netflix-color-green: #2bb871;
    --netflix-color-orange: #e87c03;
}