.Carousel__progress-bar {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    visibility: hidden;
}

.bar {
    height: 3px;
    width: 15px;
    background-color: #3a3a3a;
    margin-right: 3px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.bar:hover {
    transform: scaleX(1.1);
    background-color: #979797;
}

.active {
    background-color: #979797;
}
