.nav {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    height: 70px;
}

.primary_desktop_nav_wrapper {
    display: none;
    height: 100%;
}

.primary_mobile_nav_wrapper {
    display: block;
    height: 100%;
}

/* Netflix M Breakpoint (tablets, 640px and up) */
@media (min-width: 640px) {
    .primary_desktop_nav_wrapper {
        display: block;
    }
    
    .primary_mobile_nav_wrapper {
        display: none;
    }
}