.nav {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    height: 70px;
}

.nav_desktop_mode {
    display: none;
    height: 100%;
}

.nav_mobile_mode {
    display: block;
    height: 100%;
}

/* Netflix M Breakpoint (tablets, 640px and up) */
@media (min-width: 640px) {
    .nav_desktop_mode {
        display: block;
    }
    
    .nav_mobile_mode {
        display: none;
    }
}