.LandingPage__hero {
  position: relative;
  height: 750px;
  background: url("./BG-en-20210524-popsignuptwoweeks-perspective_alpha_website_medium.jpg") center no-repeat;
  background-size: cover;
  border-bottom: 8px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LandingPage__gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.LandingPage__hero-mid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 3.125rem;
  color: white;
  padding: 20px;
  position: relative;
}

.LandingPage__hero-mid h1 {
  font-size: 64px;
  margin-bottom: 20px;
  max-width: 800px;
  margin: auto;
  padding: 0px 20px;
}

.LandingPage__hero-mid h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.LandingPage__hero-mid h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.LandingPage__accordion-wrapper {
  padding: 70px 40px;
  border-bottom: 8px solid #222;
}

.LandingPage__accordion-wrapper h1 {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 8px;
}

.LandingPage__accordion-wrapper h3 {
  text-align: center;
}