:root {
    --slider-padding: 3rem;
}

.carousel-wrapper {
    background: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.carousel-header {
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slider {
    width: calc(100% - 2 * var(--slider-padding));
    display: flex;
    transition: all ease-in-out .45s;
}

.arrow {
    align-items: center;
    background: rgba(0, 0, 0, .25);
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: .25rem 0;
    flex-grow: 1;
    opacity: 0;
    padding: 0 .5rem;
    transition: all ease-in-out .1s;
    visibility: hidden;
    z-index: 10;
}

.text {
    font-size: 4rem;
    transition: transform ease-in-out .2s;
    margin-bottom: .75rem;
}

.arrow:hover .text,
.arrow:focus .text {
    transform: scale(1.15);
}

.arrow:hover,
.arrow:focus {
    background: rgba(0, 0, 0, .4);
}

.arrow-left {
    margin-right: .25rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.arrow-right {
    margin-left: .25rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
