.logo_a {
    display: block;
    width: 100px;
}

.logo_img {
    width: 100%;
    object-fit: contain;
}

/* Netflix M Breakpoint (tablets, 640px and up) */
@media (min-width: 640px) {
    .logo_a {
        width: 100px;
    }
}

/* Netflix L Breakpoint (desktops, 960px and up) */
@media (min-width: 960px) {
    .logo_a {
        width: 120px;
    }
}