.accordion {
  max-width: 815px;
  margin: 50px auto;
  list-style-type: none;
  padding-inline-start: 0px;
  text-align: left;
}

.accordion__item {
  margin: 0 0 8px 0;
}

.accordion__btn {
  position: relative;
  background-color: #303030;
  color: #fafafa;
  padding: 20px 50px 20px 30px;
  margin-bottom: 1px;
  font-weight: 400;
  position: relative;
  width: 100%;
  border: 0;
  font-size: 26px;
  text-align: left;
  cursor: pointer;
}

.accordion__panel {
  background-color: #303030;
  font-size: 26px;
  white-space: pre-wrap; /* this replaces \n\n with a line-break */
  overflow: hidden;
  -webkit-transition: max-height .25s cubic-bezier(.5,0,.1,1);
  -o-transition: max-height .25s cubic-bezier(.5,0,.1,1);
  -moz-transition: max-height .25s cubic-bezier(.5,0,.1,1);
  transition: max-height .25s cubic-bezier(.5,0,.1,1);
}
.accordion__panel.closed {
  max-height: 0;
}
.accordion__panel.open {
  max-height: 1200px;
}
.accordion__panel p {
  padding: 20px 30px 20px 30px;
  text-align: justify;
}

.accordion__close-icon {
  position: absolute;
  right: 26px;
  top: 20px;
  height: 26px;
  width: 26px;
  fill: #fafafa;
  transition: transform .25s cubic-bezier(.5,0,.1,1);
}

.accordion__close-icon.closed {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}