.cta {
    max-width: 750px;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
  }

  .cta__form {
    display: flex;
  }

  .cta__input-container {
    position: relative;
    flex-grow: 1;
    display: flex;
    background-color: #fafafa;
    margin-right: 1px;
  }

  .cta__input {
    position: relative;
    width: 100%;
    background-color: #fff0;
    border: 0px;
    font-size: 16px;
    padding-left: 10px;
    z-index: 2;
    border: solid 1px #8c8c8c;
  }

  .cta__label {
    position: absolute;
    width: 100%;
    color: #8c8c8c;
    z-index: 1;
    transition: all .1s ease;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
  }

  .cta__input:focus {
    outline: none;
    border: 1px solid #0071eb;
  }

  .cta__input:focus ~ label, .cta__input:valid ~ label {
    top: 6px;
    font-size: 13px;
    font-weight: 700;
    transform: translateY(0);
  }

  .cta__btn {
    display: flex;
    align-items: center;
    border-left: 1px solid #333;
    padding: 0 30px;
    border-radius: 0px 2px 2px 0px;
    min-height: 70px;

    user-select: none;
    text-align: center;
    color: #fafafa;
    font-size: 30px;
    line-height: 30px;
    background-color: #e50914;
    background-image: linear-gradient(to bottom,#e50914,#db0510);
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    border: 0px;
    cursor: pointer;
  }

  .chevron-right-arrow {
    height: .75em;
    width: .35em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0 0 0 .5em;
    position: relative;
  }

  .chevron-right-arrow svg {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1px 0;
    height: 100%;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
